
/*box header*/
.container { /*content both side of header*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color:white;
}

/*navigation bar*/

#navigation {
  display: flex; /*horizontal alignement*/
  list-style: none; /*remove point in front of an li element*/
  margin: -9px; /*to extend the bar into the logo*/
  padding: 0;
  overflow: hidden;
  background-color: #FFC800;
  border-radius: 10px;
}

#navigation li {
  margin-left: 10px; /*space for each li element*/
}

#navigation li a { /*li a to just modify the li element in this ul*/
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*remove line under the text*/
}

#navigation li a:hover { /*do something when hoover */
  background-color: white;
  text-decoration: none;
}

.content-outer { /*content on both side of inner box*/
  background-color: #f7f7f7;
}

.content-inner { /* make a box on the center of the page with shadow*/
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
  background-color: white;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-size: 2.1875rem;
    line-height: 40px;
    line-height: 2.5rem;
    margin: 0;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    background-color: white;
    padding: 20px;
    margin: o ;
  }

  .pic { /* photo de clebards*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 60%;
  }
  
  .pictopbar { /*yellow bar on top of each pic*/
    border-top: 6px solid #ccc;
    border-color: #FFC800;
    flex: 1;
  }
  
  .vote-button {
    background-color: #FFC800;
    color:black;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }

  .vote-button:hover { /*do something when hoover */
    background-color:#d8870c;
    text-decoration: none;